/*****General Elements*****/
@import url('https://fonts.googleapis.com/css?family=Playball|Share+Tech+Mono');

body {
  background-color: #eee !important;
  margin: 0;
  padding: 0;
}

.author {
  color: #F4413B;
  cursor: pointer;
}

.content-container {
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 10rem;
  grid-template-columns: repeat(3, 1fr 1fr 1fr);
}

#navbar a, #footer a {
  background-color: #2196f3;
  color: #fff;
  font-family: 'Share Tech Mono', monospace;
  margin: 0.5rem;
}

#navbar a:hover, #footer a:hover {
  color: #eee;
}

#navbar div, #footer div {
  background-color: #233;
}

/*****Media Queries*****/

@media only screen and (min-width: 320px) and (max-width: 480px) {

  .content-container {
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
  }

  #navbar, #footer, #header {
    width: 120%;
  }

  #main hr {
    width: 50%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #main hr {
    width: 45%;
  }
}

@media only screen and (min-width: 1024px) {
  #main hr {
    width: 30%;
  }
}
