/*****General Elements*****/
@import url('https://fonts.googleapis.com/css?family=Playball|Share+Tech+Mono');

body {
  background-color: #eee !important;
  margin: 0;
  padding: 0;
}

header {
  background-color: #F4413B;
  color: #fff;
  font-family: 'Playball', cursive;
  padding: 0.5rem;
  position: relative;
  text-align: center;
  top: 3.8rem;
}

nav {
  position: relative;
  top: -4rem;
}

#footer {
  color: #fff;
  text-align: center;
}

#footer div {
  padding-bottom: 2.5%;
}

#navbar a, #footer a {
  background-color: #2196f3;
  color: #fff;
  font-family: 'Share Tech Mono', monospace;
  margin: 0.5rem;
}

#navbar a:hover, #footer a:hover {
  color: #eee;
}

#navbar div, #footer div {
  background-color: #233;
}

#main img {
  border: 3px solid #444;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  padding: 8px;
  height: 20rem;
  width: 25rem;
}

#main hr {
  background-color: #219032;
  color: #444;
  height: 0.2rem;
}

/*****Media Queries*****/

@media only screen and (min-width: 320px) and (max-width: 480px) {
  #main hr {
    width: 50%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #main hr {
    width: 45%;
  }
}

@media only screen and (min-width: 1024px) {
  #main hr {
    width: 30%;
  }
}
